/* style.css */

/* Estilo para SerialList */
body {
    background-image: url('https://images.unsplash.com/photo-1601379327190-e3ef16de9845?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #8fb3e8;
}

.button-custom {
    border-color: #8fb3e8;
    background-color: white;
    color: #8fb3e8;
}
.btn-outline-success:hover {
    background-color: #3a04ff;
    border-color: #2200ff;
    color: white;
  }
